.panel {
    background-color: rgb(19, 19, 19);
    min-height: 100vh;
}

.header {
    color: white;
    font-size: calc(2.2em + 5vmin);
    font-size: clamp(2rem, 5vw + 1.5rem, 8rem);
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    animation:headerAni 0.2s linear forwards;
    opacity:0;
}

.header:nth-of-type(1) {
    padding-top: 5vh;
    margin-left: 10vh;
}

.header:nth-of-type(2) {
    margin-left: 15vh;
    animation-delay: 0.15s;
    margin-bottom:2rem;
}

.header span{
    transition:all 0.1s linear;
    font-size: clamp(2rem, 5vw + 1.5rem, 8rem);
    color:white;
    animation:bgAni 0.15s linear forwards;
    animation-delay:0.3s;
}

@keyframes bgAni{
    from {
        color:white;
    }to{
        background-color:white;
        color:black;
    }
}
@keyframes headerAni {
    from {
        opacity: 0;
        transform: translateY(-3rem)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

span {
    color: white;
    font-size: clamp(1.5rem, 1.8vw + 1.3rem, 5rem);
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    padding: 0 0.2rem;
    line-height: 1;
}

.container{
    max-height:50vh;
    display:flex;
    max-width:100%;
    padding:0 0 0 5vw;
    align-items: flex-end;
    justify-content: space-between;
}

.portrait{
    display:block;
    max-width:20rem;
    max-height:30rem;
    width:auto;
    height:auto;
    border-radius:7px;
}

.circle {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    white-space: pre;
    word-wrap:normal;
}

.circle text {
    font-family: 'Helvetica Neue', Arial;
    font-size: 16px;
    font-weight: bold;
    white-space: pre;
    word-wrap:normal;
}

.circle svg {
    width: 40rem;
    height: 40rem;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -ms-animation-duration: 8s;
    -o-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: pointer;
    white-space: pre;
    word-wrap:normal;
    
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
    }

    to {
        -ms-transform: rotate(0);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(360deg);
    }

    to {
        -o-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@media(max-height:800px) and (min-width:1000px){
    .container{
        justify-content: space-between;
        padding:0 8vw;
    }
    .portrait{
        margin-left:4rem;
        max-width:15rem;
        max-height:20rem;
    }
    .circle svg{
        height:25rem;
        width:25rem;
    }
}
@media (max-width:940px){
    .header:nth-of-type(1) {
        padding-top: 5vh;
        margin-left: 5vh;
    }
    
    .header:nth-of-type(2) {
        margin-left: 10vh;
        animation-delay: 0.15s;
        margin-bottom:2rem;
    }
    .container{
        justify-content: space-around;
    }
    .portrait{
        max-width:12rem;
        max-height:18rem;
        /*bottom:7vh;*/
    }
    /*
    .circle{
        bottom:0;
    }
    */
    .circle svg{
        width:15rem;
        height:15rem;
        /*right:-5vw;*/
    }
    span{
        padding:0 0.1rem;
    }
}

@media (max-width:750px){
    .portrait{
        max-width:8rem;
        max-height:12rem;
    }
}
