.panel {
    min-height: 100vh;
    background-color: rgb(19, 19, 19);
}

.panelHeader {
    padding:0;
    font-size: clamp(2rem, 5vw + 1.5rem, 8rem);
    color: white;
    background-color: rgb(19, 19, 19);
    font-family: 'Bebas Neue', sans-serif;
    user-select: none;
    margin:0;
    padding-bottom:2rem;
    font-weight: 500;
}

.infoSubSection{
    padding:0 10vw;
    display:flex;
    gap:7vw;
    padding-bottom:10vh;
    justify-content:center;
}

.infoSubSection h2{
    color:white;
    font-size: clamp(1rem, 1.5vw + 1.3rem, 4rem);
}

.infoSubSection .imgHolder{
    min-width: 35vw;
    min-height:23vw;
    max-width:37vw;
    min-height:25vw;
    display:block;
}

.imgHolder img{
    width:100%;
    height:100%;
    border-radius:7px; 
}

.topicHolder{
    display:flex;
    flex-direction: column;
}

.topicHolder li{
    color:white;
    font-size: clamp(1rem, 1vw + 1rem, 3rem);

}

@media(max-width:940px){
    .infoSubSection{
        flex-wrap:wrap;
    }
    .infoSubSection:nth-of-type(2){
        flex-direction: column-reverse;
        align-items: center;
    }

    .imgHolder:nth-of-type(1){
        margin-top:7vw;
    }
    .infoSubSection .imgHolder{
       display:flex;
       justify-content: center;
       align-items: center;
       overflow:hidden;
       min-width:70vw;
    }

    .imgHolder img{
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
    
}