
.panel {
    min-height: 100vh;
    background-color: rgb(19, 19, 19);
    padding-bottom:20vh;
}

.projectHeader {
    font-size: clamp(2rem, 5vw + 1.5rem, 8rem);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom:2rem;
    user-select: none;
}

.projectsHolder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    padding-left:2.5%;
    gap:10px;
}

.projectsHolder img{
    width:45vw;
    height:23.5vw;
    border-radius: 7px;
}

.projectsHolder img:hover{
    cursor:pointer;
}

.project {
    width: 45.1vw;
    height: 23.5vw;
    background-color: white;
    border-radius:7px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project:nth-of-type(1){
    background-image:url(./images/cleancardsIMG.png) ;
}
.project:nth-of-type(2){
    background-image:url(./images/designe2IMG.png) ;
}
.project:nth-of-type(3){    
    background-image:url(./images/yelpcampNEW.jpg) ;
    background-size: cover;
}
.project:nth-of-type(4){    
    background-image:url(./images/purewebdevIMG.jpg) ;
    background-size: 100% 100%;
    background-position: center 0;
}

.projectDesc{
    padding-top:1rem;
    width:45vw;
    min-height:23.5vw;
    color:white;
    font-size:clamp(1rem, 1.5vw + 1.3rem, 4rem);
    font-family: 'Bebas Neue', sans-serif;
    animation-delay:0.5s;
}

.linksHolder{
    display:flex;
    justify-content: flex-start;
    padding-left:1rem;
    gap:1rem;
    margin-top:2rem;
}

.linksHolder a{
    width:clamp(2rem, 3vw + 1.3rem, 4rem);
    height:clamp(2rem, 3vw + 1.3rem, 4rem);
}

.buttonHolder{
    margin-top:2rem;
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.projectNavButton{
    background-color:rgba(0,0,0,0);
    color:white;
    display:block;
    font-size:clamp(1rem, 1.5vw + 1.3rem, 4rem);
    font-family: 'Bebas Neue', sans-serif;
    border:none;
    border-bottom:1px solid white; 
    cursor:pointer;
}

.e2Holder[relocate='2']{ 
    animation:relocateE2 0.3s forwards;
}
.pwdHolder[relocate='3']{
    animation: relocatePWD 0.3s forwards;
}
.yelpcampHolder[relocate='4']{
    animation:relocateYelpcamp 0.3s forwards;
}

@keyframes relocateE2 {
    from{
        transform:translateX(0);
    }to {
        transform:translateX(-45vw);
    }
}

@keyframes relocatePWD {
    from{
        transform:translateY(0);
    }to {
        transform:translateY(-23.5vw);
    }
}

@keyframes relocateYelpcamp {
    from{
        transform:translateY(0);
        transform:translateX(0);
    }to {
        transform:translate(-45vw, -23.5vw);
    }
}