.panel{
    min-height:100vh;
    background-color:lightcoral;
    max-width:100vw;
    padding-top:20vh;
    overflow:hidden;
}

#secondSection{
    background-color: aquamarine;
    width:100%;
    height:20vh;
}